.container-body {
  max-width: 900px;
}

.container-body > div {
  margin-bottom: 60px;
}

.profile-card {
  margin-bottom: 50px;
}

.with-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-body {
  padding: 50px 50px 0 50px;
  font-weight: 100;
}

.profile-info {
  padding: 20px;
}

.profile-info .profile-title {
  font-size: 35px;
}

.profile-card-footer {
  height: 60px;
  background-color: #333;
  color: white;
  padding: 15px;
}

.profile-icons a {
  margin: 0 20px;
  font-size: 20px;
  color: white;
}

.profile-description p {
  text-align: center;
  font-size: 17px;
}

.professional-skills {
  padding: 40px;
}

.progress, .progress-bar {
  height: 7px;
}
.progress-bar {
  background-color: #333;
}
